<footer class="bg-gradient-to-b from-violet-900 to-black text-white rounded-t-3xl">
    <div class="container mx-auto py-16 px-40">
        <div class="flex justify-between items-center">
            <div class="px-5">
                <h2 class="text-lg font-bold neon-hover">INFORMACION DE CONTACTO</h2>
                <p class="mt-2 neon-hover">juanjose.acebedolara.23@campusfp.es</p>
                <p class="mt-1 neon-hover">123-456-789</p>
            </div>
            <div class="px-5">
                <h2 class="text-lg font-bold neon-hover">REDES SOCIALES</h2>
                <ul class="mt-2">
                    <li>
                        <a href="https://github.com/Juanjocampus1/Hito2_3t_Leguaje_de_marcas.git" class="neon-hover" target="_blank">Git-hub</a>
                    </li>
                    <li class="mt-1"><a href="https://www.linkedin.com/in/juan-jos%C3%A9-acebedo-lara-2658332b0?utm_source=share&utmcampaign=share_via&utm_content=profile&utm_medium=android_app" class="neon-hover" target="_blank">Linkedin</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    /* Personalizaciones adicionales */
    .neon-hover:hover {
        text-shadow: 0 0 5px #6EE7B7, 0 0 10px #6EE7B7, 0 0 15px #6EE7B7, 0 0 20px #6EE7B7, 0 0 30px #6EE7B7, 0 0 40px #6EE7B7, 0 0 55px #6EE7B7, 0 0 75px #6EE7B7;
        transition: 1s;
        cursor: pointer;
    }
    footer {
        border-top: 4px solid #6de5b6; /* Borde morado */
        border-right: 4px solid #6de5b6; /* Borde morado */
        border-left: 4px solid #6de5b6; /* Borde morado */
        box-shadow: 0 0 10px #2927b0; /* Sombra morada alrededor de la tarjeta */
        margin: 20px; /* Espacio entre las tarjetas */
        transition: all 0.3s ease-in-out; /* Transición suave */
    }

    footer:hover {
        box-shadow: 0 0 20px #6de5b6, /* Sombra morada más grande alrededor de la tarjeta */
        0 0 30px #6de5b6, /* Sombra morada aún más grande alrededor de la tarjeta */
        0 0 40px #3727b0; /* Sombra morada muy grande alrededor de la tarjeta para el efecto de brillo */
        transform: scale(1.05); /* Hacer la tarjeta un poco más grande */
    }
</style>
